/** sidebar */
:root {
  --sidebar-default-bg: lightgray;
  --sidebar-close-bg: white;
  --sidebar-padding-x: 10px;
  --sidebar-padding-y: 20px;
  box-sizing: border-box;
}
.section {
  height: 100vh;

 
}

.close {
  width: 0px;
  display: hidden;
}

.open {
  width:  var(--sidebar-width);
}

.flex_box{
  height: 100%;
  transition: width 0.3s ease;
  overflow: hidden;
}
/** content container */
.content_container {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  background-color: var(--sidebar-default-bg);
  height: 100svh;
  display: flex;
  flex-direction: column;
  transition: height 0.2s ease, top 0.1s ease, transform 0.1s ease, width 0.2s ease, background-color 0.1s ease;
  overflow-x: hidden;
  z-index: 20;
}

.content_container[data-state="close"] {
  height: calc(100svh - (var(--header-height)*2));
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 10 10px 0;
 background-color: var(--sidebar-close-bg);
 border-top : solid 1px lightgray;
 border-right : solid 1px lightgray;
 border-bottom : solid 1px lightgray;
 box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.content_container[data-state="close"][data-header-hovered="false"]{
  width: 0.1px;
}
/** absolute header */
.absolute_header {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100px;
  height: 10svh;
  z-index: 10;
}
/** toggle button */
.toggle_button {
  margin: 0;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: transparent;
  color: black;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 500;
  border: none;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease;

}
.toggle_button[data-header-hovered="false"]::before {
  content: "☰";
}
.toggle_button:hover::before,
.toggle_button[data-header-hovered="true"]::before{
  content: ">>";
}

/** header*/
.header {
  padding:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  width: var(--sidebar-width);
}
.header[data-state="close"] >.close_button{
 display: none;
}

/** close button */
.close_button {
  margin: 0;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: transparent;
  color: black;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 500;
  border: none;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease;
}

.close_button::before {
  content: "<<";
}

/** body*/
.body {
  display: flex;
  flex-direction: column;
  padding: var(--sidebar-padding-y) var(--sidebar-padding-x);
  gap: 18px;
  overflow-x: hidden;
}

/** title */
.title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  text-wrap: nowrap;
}
/** items*/
.items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 4px;
}

